<div class="message">
  <div class="message-user">
    <%= message.user.username %>:
  </div>
  <div class="message-content">
    <%= sanitize Kramdown::Document.new(message.content).to_html %>
  </div>
</div>
